{% extends 'layout.html' %}

{% block content %}

        <section class="header">
            <h1>Gerald Bishop</h1>
            <p>Looking for work as a Python Developer.</p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="https://cdn.pixabay.com/photo/2017/01/12/02/20/isle-of-skye-1973528_1280.jpg" alt="Isle of Skye">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>Profile</h2>
            <p>
                I am looking to change careers and work as a Python developer.
            </p>
            <p>
                I have 10 years professional experience working in financial 
                services as a surveyor in commercial real estate investment 
                management and development.
            </p>
            <a href="#"><i class="far fa-file"></i>Resume</a>
        </section>

{% endblock %}